<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register-me</h1>
    <form action="?class=PersonForm&method=savePerson" method="post">
        <fieldset>
            <label for="firt-name">First name</label>
            <input type="text" name="save-person-first-name" id="first-name">
        </fieldset>
        <fieldset>
            <label for="last-name">Last name</label>
            <input type="text" name="save-person-last-name" id="last-name">
        </fieldset>
        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="save-person-email" id="email">
        </fieldset>
        <fieldset>
            <label for="password">Passwword</label>
            <input type="password" name="save-person-password" id="password">
        </fieldset>
        <input type="submit" value="Register">
    </form>
</body>
</html>