<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listagem de pessoas cadastradas</h1>
    <table>
        <thead>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Função</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>
        <tbody>
            {rows}
        </tbody>
    </table>
    <a href="/sys-cadastro">Voltar para home</a>
</body>
</html>