<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sys Cadastro</title>
</head>
<body>
<header class="system-header">
    <div class="system-menu-container">
        <nav class="logout-menu">
            <a href="/" class="sign-in-item">Entrar</a>
            <a href="/" class="sign-up-item">Cadastro</a>
        </nav>
    </div>
</header>
 <h1>Obrigado por se cadastrar!</h1>   
</body>
</html>